:root {
  --primary: #1A237E;
  --primary-light:#303F9F;
  --primary-lighter:#9FA8DA;
  --primary-lightest: #E8EAF6
  --primary-dark: "";

  --secondary: #B71C1C;
  --secondary-light: #D32F2F;
  --secondary-lighter: #E57373;
  --secondary-lightest: #FFEBEE;
  --secondary-dark: "";

  --button-font-weight:500;
  --button-font-size:1.2rem;
  --button-letter-spacing:0.03rem;
  --button-text-transform:uppercase;

  --error: red; 
  --warning: #ffbf00;
  --success: green;

  --round: 5px;
  --rounder: 10px;
  --roundest: 50px;

  --text-light: gray;
  --text-lighter: grey;
  --text-lightest: white;


  --text-dark: gray;
  --text-darker: black;
  --text-darkest: black;


  --small-input-height: 2rem;
  --medium-input-height: 3rem;
  --large-input-height: 4rem;
}

.btn-primary {
  padding: 1rem;
  text-align: center;
  color: var(--text-lightest);
  border: none;
  cursor: pointer;
  
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size:var(--button-font-size);
  text-transform: var(--button-text-transform);
  justify-content: center;


}




.btn-secondary {
  padding: 1rem;
  text-align: center;
  color: var(--text-lightest);
  border: none;
  cursor: pointer;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size:var(--button-font-size);
  text-transform: var(--button-text-transform);
}

.primary-filled{
    background-color: var(--primary);
}

.secondary-filled{
    background-color: var(--secondary);
}

.primary-outlined{
    border:solid 2px var(--primary);
    color: var(--primary);
}

.secondary-outlined{
    border:solid 2px var(--secondary);
    color: var(--secondary);
}

.border-radius-25 {
  border-radius: 5px;
}

.round {
  border-radius: var(--round);
}

.rounder {
  border-radius: var(--rounder);
}

.roundest {
  border-radius: var(--roundest);
}

.wide {
  width: 25%;
}

.wider {
  width: 50%;
}
.widest {
  width: 100%;
}


.error{
    background-color: var(--error);
}
.warning{
    background-color: var(--warning);
}

.success{
    background-color: var(--success);
}

.width-100 {
    width: 100%;
  }
  
  .width-50 {
    width: 50%;
  }
  .width-25 {
    width: 25%;
  }

.primaryShadow {
  box-shadow: 0 4px 10px 0 --var(--primary-lightest)
    /* box-shadow: 0 4px 10px 0 red; */

}

.padding-low{
    padding: 8px;
}

.padding-lower{
    padding: 4px;
}

.padding-lowest{
    padding:2px;
}

.padding-high{
    padding: 16;
}

.padding-higher{
    padding: 32;
}

.padding-highest{
    padding:64px;
}

input{
  padding-left: 1rem;
}

.smallInput{
        outline: none;
        font-size: var(--button-font-size);
        font-weight: var(--button-font-weight);
        height: var(--small-input-height);
        border: solid 0.5px gray;
}

.mediumInput{
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--medium-input-height);
  border: solid 0.5px gray;
}

.largeInput{
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--large-input-height);
  border: solid 0.5px gray;
}

input:focus{
    border: solid 1px var(--primary);
}

label{
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
}

body{
  background-color: #E7E9EB;
}

.inputError{
  border: solid 1px var(--error);
}

.inputWarning{
  border: solid 1px var(--warning);

}

.inputSuccess{
  border: solid 1px var(--success);
}

input:active{
  border-left: solid 3px red;;
}
input:focus{
  border-left: solid 3px var(--primary);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.noBorder{
  border: none;
}

.chip{


}

.IncDec[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


.IncDec[type=number] { 



  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

.inputWithIcon{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: center;
}

.inputWithIcon > svg{
  position: absolute;
  margin-left:0.4rem;
  margin-right: 0.2rem;
  
}

.inputWithIcon > input{
  padding-left: 5rem;
}


.mediumInputWithIcon{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: center;
}


.mediumInputWithIcon > input{
  padding-left: 5rem;


}

.mediumInputWithIcon > svg{
  position: absolute; 
  margin-left:0.4rem;
  margin-right: 0.2rem;
  font-size: 2rem;
}


.btn-primary:active{

  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
  transition: 5s ease-in-out;
  animation-iteration-count: 3;

}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}


.numberInput{
  display: grid;
  grid-template-columns: 12fr 1fr 1fr;
  
}


.numberInput > input{
  border-right: none;
}



