:root {
  --primary: #1a237e;
  --primary-light: #303f9f;
  --primary-lighter: #9fa8da;
  --primary-lightest: #e8eaf6;
  --primary-dark: "";

  --secondary: #b71c1c;
  --secondary-light: #d32f2f;
  --secondary-lighter: #e57373;
  --secondary-lightest: #ffebee;
  --secondary-dark: "";

  --button-font-weight: 500;
  --button-font-size: 1.2rem;
  --button-letter-spacing: 0.03rem;
  --button-text-transform: uppercase;

  --error: red;
  --warning: #ffbf00;
  --success: green;

  --round: 5px;
  --rounder: 10px;
  --roundest: 50px;

  --text-light: gray;
  --text-lighter: grey;
  --text-lightest: white;

  --text-dark: gray;
  --text-darker: black;
  --text-darkest: black;

  --small-input-height: 2rem;
  --medium-input-height: 3rem;
  --large-input-height: 4rem;

  /* shadwos goes here: */

  --shadow1: 5px 5px 5px gray;
  --shadow2: 5px 5px 5px gray;
  --shadow3: 5px 5px 5px gray;
  --shadow4: 5px 5px 5px gray;
  --article-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* Icons colors */

  --icon-color-primary: var(--priamry);
  --icon-color-secondary: var(--secondary);

  --icon-color-primary-light: var(--priamry);
  --icon-color-primary-lighter: var(--priamry);
  --icon-color-primary-lightest: var(--priamry);
}

.color-primary {
  color: var(--primary);
}

.color-secondary {
  color: var(--secondary);
}

.btn-primary {
  padding: 1rem;
  text-align: center;
  color: var(--text-lightest);
  border: none;
  cursor: pointer;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  justify-content: center;
}

.btn-primary-filled {
  padding: 1rem;
  text-align: center;
  color: var(--text-lightest);
  border: none;
  cursor: pointer;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  justify-content: center;
  background-color: var(--primary);
}

.btn-primary-outlined {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  justify-content: center;
  border: solid 2px var(--primary);
  background-color: white;
}
.btn-primary-outlined:hover {
  background-color: var(--primary-lightest);
  color: var(--primary);
}

.btn-primary-filled {
  background-color: var(--primary);
}



.btn-secondary-filled {
  padding: 1rem;
  text-align: center;
  color: var(--text-lightest);
  border: none;
  cursor: pointer;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  background-color: var(--secondary);
}

.btn-secondary-outlined {
  background-color: white;
  padding: 1rem;
  text-align: center;
  color: var(--secondary);
  border: none;
  cursor: pointer;
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  font-size: var(--button-font-size);
  text-transform: var(--button-text-transform);
  border: solid 2px var(--secondary);
}

.btn-secondary-outlined:hover {
  background-color: var(--secondary-lightest);
}

.primary-filled {
  background-color: var(--primary);
}

.secondary-filled {
  background-color: var(--secondary);
}

.primary-outlined {
  border: solid 2px var(--primary);
  color: var(--primary);
}

.primary-outlined:hover {
  background-color: var(--primary-lighter);
  color: var(--primary);
}

.secondary-outlined {
  border: solid 2px var(--secondary);
  color: var(--secondary);
}

.secondary-outlined:hover {
  background-color: var(--secondary-lightest);
}

.border-radius-25 {
  border-radius: 5px;
}

.round {
  border-radius: var(--round);
}

.rounder {
  border-radius: var(--rounder);
}

.roundest {
  border-radius: var(--roundest);
}

.wide {
  width: 25%;
}

.wider {
  width: 50%;
}
.widest {
  width: 100%;
}

.error {
  background-color: var(--error);
}
.warning {
  background-color: var(--warning);
}

.success {
  background-color: var(--success);
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}
.width-25 {
  width: 25%;
}

.primaryShadow {
  box-shadow: 0 4px 10px 0 --var(--primary-lightest);
  /* box-shadow: 0 4px 10px 0 red; */
}

.padding-low {
  padding: 8px;
}

.padding-lower {
  padding: 4px;
}

.padding-lowest {
  padding: 2px;
}

.padding-high {
  padding: 16;
}

.padding-higher {
  padding: 32;
}

.padding-highest {
  padding: 64px;
}

input {
  padding-left: 1rem;
}

.input-small {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--small-input-height);
  border: solid 0.5px gray;
}

.input-small-primary {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--small-input-height);
  border: solid 1px var(--primary);
  color:var(--primary-light);
}

.input-small-primary:focus {
  border: solid 2px var(--primary);
}

.input-medium-primary {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--medium-input-height);
  border: solid 1px var(--primary);
}

.input-medium-primary:focus {
  border: solid 2px var(--primary);
}

.input-large-primary {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--large-input-height);
  border: solid 1px var(--primary);
}
.input-large-primary:focus {
  border: solid 2px var(--primary);
}


.input-medium-primary-outlined {
  background-color: white;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  outline: none;
  font-size: var(--button-font-size);
  /* font-weight: var(--button-font-weight);
  height: var(--medium-input-height); */
  border: solid 1px var(--primary);
}

.input-medium-primary-outlined > input {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  /* height: var(--medium-input-height); */
  border: none;
  padding: 10px;
  overflow: hidden;
}
.input-medium-primary-outlined > :focus {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  /* height: var(--medium-input-height); */
  border: solid 0.5px gray;

  border: none;
  box-shadow: none;
}

.input-medium-primary-outlined > legend {
  position: relative;
  color: var(--primary);
}

.input-small-secondary {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--small-input-height);
  border: solid 1px var(--secondary);
}

.input-small-secondary:focus {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--small-input-height);
  border: solid 2px var(--secondary);
}

.input-medium-secondary {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--medium-input-height);
  border-left: solid 3px var(--secondary);
}

.input-medium-secondary:focus {
  border-left: solid 2px var(--secondary);
}

.input-large-secondary {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--large-input-height);
  border: solid 0.5px gray;
}

.input-large-secondary:focus {
  border-left: solid 2px var(--secondary);
}

label {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
}

body {
  background-color: white;
}

.input-warning {
  border: solid 1px var(--warning);
}

.input-warning:focus {
  border: solid 2px var(--warning);
}

.input-success {
  border: solid 1px var(--success);
}

.input-success:focus {
  border: solid 2px var(--success);
}

/* input:focus {
  border: solid 3px var(--primary);
  caret-color: var(--primary);
  border-style: solid;
  border-width: 2px;

} */

.no-border {
  border: none;
}

.IncDec[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.IncDec[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

.inputWithIcon {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: center;
}

.inputWithIcon > svg {
  position: absolute;
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  color: red;
}

.inputWithIcon > input {
  padding-left: 5rem;
}

.input-medium-with-icon {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: left;
  align-items: center;
}

.input-medium-with-icon > input {
  padding-left: 5rem;
}

.input-medium-with-icon > svg {
  position: absolute;
  margin-left: 0.4rem;
  margin-right: 0.2rem;
  font-size: 2rem;
  /* color: var(--primary); */
}

.btn-primary:active {
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
  transition: 5s ease-in-out;
  animation-iteration-count: 3;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .numberInput{
  display: grid;
  grid-template-columns: 12fr 1fr 1fr;
  
} */

.numberInput > input {
  border-right: none;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  color: var(--text-darkest);
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  color: var(--text-darkest);
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  color: var(--text-darkest);
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  color: var(--text-darkest);
}

h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  color: var(--text-darkest);
}

h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-variant: normal;
  font-style: normal;
  color: var(--text-darkest);
}

p {
  font-size: 1.2rem;
}

/* progress{
  height: 1rem;
  background-color: var(--primary);
  border-radius : 5px;

} */

progress[value] {
  background-color: var(--primary);
}

progress[max] {
  background-color: var(--secondary);
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

option {
  background-color: red;
}

.select {
  display: grid;
  grid-template-areas: "select";
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  /* background-color: var(--select-arrow); */
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select,
.select:after {
  grid-area: select;
}

.input-lined-small {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--small-input-height);
  border: none;
  border-bottom: solid 3px gray;
}

.input-lined-small:focus {
  border-bottom: solid 3px var(--primary);
  border-left: none;
}

.input-lined-medium {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--medium-input-height);
  border: none;
  border-bottom: solid 3px gray;
}

.input-lined-medium:focus {
  border-bottom: solid 3px var(--primary);
  border-left: none;
}

.input-lined-large {
  outline: none;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  height: var(--large-input-height);
  border: none;
  border-bottom: solid 3px gray;
}

.input-lined-large:focus {
  border-bottom: solid 3px var(--primary);
  border-left: none;
}

.input-error {
  border: solid 0.5px var(--error);
}

.input-error:focus {
  border: solid 2px var(--error);
}

.icon-primary-color {
  color: var(--primary);
}

.icon-primary-color-light {
  color: var (--primary-light);
}
.icon-primary-color-lighter {
  color: var (--primary-lighter);
}
.icon-primary-color-lightest {
  color: var (--primary-lightest);
}

.icon-secondary-color {
  color: var(--secondary);
}

.icon-secondary-color-light {
  color: var(--secondary-light);
}
.icon-secondary-color-lighter {
  color: var(--secondary-lighter);
}
.icon-secondary-color-lightest {
  color: var(--secondary-lightest);
}

aside {
  color: var(--text-lightest);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;
}

aside li {
  padding: 1rem;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif;
  font-size: var(--button-font-size);
  text-align: center;
}

aside a {
  display: block;
  text-decoration: none;
  color: var(--text-lightest);
  color: var(--primary);
  width: 100%;
}

aside li:hover {
  background-color: var(--secondary-lightest);
  color: var(--secondary);
  border-radius: 5px;
}

aside a:hover {
  background-color: var(--secondary-lightest);
  color: var(--secondary);
}

aside ol {
  padding: 10px;
}

/* aside > nav{
text-align: center;
} */

/* Shadows */

.shadow1 {
  box-shadow: var(--article-shadow);
}


.remove-bottom-shadow{
  box-shadow: var(--shadow1);
}